<template>
    <div v-if="list.length > 0">
        <h1>User followers:</h1>
        <div class="table-followers">
            <table class="table table-dark table-followers">
                <thead class="thead-dark ">
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Username</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in list">
                    <td>
                        <img  :src="user.avatar_url" class="img-responsive img-circle" width="40px"/>
                    </td>
                    <td>
                        <b> {{ user.login }}</b>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button
                v-if="hasMore"
                class="btn btn-default"
                @click.prevent="getFollowerList"

        >More followers</button>
    </div>
</template>

<script>
    export default {
        name: "followers-list",
        props:{
            username:{
                required: true,
                type: String
            }
        },
        data(){
            return {
                page: 1,
                list: [],
                hasMore: true
            }
        },
        mounted(){
            this.getFollowerList();
        },
        methods:{
            async getFollowerList(){
                const { username , page } = this;

                const response = await axios.get(`/api/user/followers/${username}` , { params : { page }})
                this.page++;
                this.list.push(...response.data);
                if (response.data.length < 30) this.hasMore = false;
            }
        }
    }
</script>

<style scoped>

</style>